.anima-card {
  box-sizing: border-box;
  padding: 10px;
  break-inside: avoid;
}

.anima-card a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  transition: 0.4s;
  border-radius: 4px;
  box-shadow: 0px 4px 8px #98bec8;
}

.anima-card img {
  width: 100%;
  object-fit: cover;
  border-radius: 4px;
}

.anima-card h3 {
  padding: 16px;
  max-width: 100%;
  box-sizing: border-box;
  color: #98bec8;
  transition: .4s;
  font-size: 16px;
  overflow : hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.anima-card:hover a {
  transform: scale(1.05);
}

.anima-card:hover h3 {
  color: #4f7b86;
}  